.application {
  margin: 0;
  margin-bottom: 33px;
  padding: 0 20px;
}

.application__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.application__description {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  .font(14px, 400, 18px);
  color: @font-black;
  text-transform: uppercase;
}

.application__form {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.application__annotation {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Arial", sans-serif;
  .font(14px, 400, 16px);
  text-align: center;
}
