.button {
  margin: 0;
  padding: 14px 10px 11px;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  .font(16px, 400, 20px);
  color: @font-white;
  text-transform: uppercase;
  text-align: center;
  background-color: @green;
  border: none;
  outline: none;

  &--index {
    .font(14px, 400, 18px);
  }

  &--full {
    width: 100%;
  }
}
