.contacts {
  display: flex;
}

.contacts__title {
  margin: 0;
  padding: 0;
  display: block;
  .font(16px, 400, 20px);
  text-transform: uppercase;
  text-align: left;
}

.contacts__text {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Arial", sans-serif;
  .font(14px, 400, 20px);
  text-align: left;
}
