.controls {
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.controls__button {
  padding: 0;
  font-family: inherit;
  .font(16px, 400, 20px);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;

  &--before {
    margin-left: 3px;
    margin-right: 18px;
  }

  &--after {
    margin-left: 18px;
  }

  &:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: fade(#111111, 30%);
  }

  &:active {
    border-bottom: none;
  }
}

.controls__scale {
  padding: 0 6px;
  width: 84px;
  height: 14px;
  display: flex;
  align-items: center;
  align-self: center;
  background-color: @bg-white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.controls__toggle {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @green;
}

@media (min-width: @tablet-width) {
  .controls {
    padding: 0 30px;
  }

  .controls__button {
    padding: 0 0 6px;
    border-bottom: 1px dotted #bebebe;

    &--before {
      margin-left: 0;
      margin-right: 22px;
    }

    &--after {
      margin-left: 22px;
    }
    font-size: 20px;
  }

  .controls__scale {
    margin-top: -3px;
    padding: 0;
    width: 60.5%;
    height: 6px;
    justify-content: center;
    background-color: #dcdcdc;
    border: none;
    border-radius: 2.5px;
  }

  .controls__toggle {
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15),
      inset 0 0 0 12px @bg-white;
    background-color: @green;
    border: solid 1px #cdcdcd;
    border-radius: 50%;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25),
        inset 0 0 0 12px @bg-white;
    }

    &:active {
      border-color: @green;
      box-shadow: inset 0 0 0 12px @bg-white;
    }
  }
}

@media (min-width: @desktop-width) {
  .controls {
    padding: 0 28px 0 0;
  }

  .controls__scale {
    margin-top: -9px;
    width: 58.5%;
  }

  .controls__toggle {
    width: 34px;
    height: 34px;
  }
}
