.input {
  margin: 0;
  padding: 14px 16px;
  flex-grow: 1;
  font-family: "Oswald", "Arial", sans-serif;
  .font(16px, 400, 18px);
  color: @font-grey;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
}

.input--icon {
  padding-right: 35px;
}

.input--mail {
  background-image: url("../../source/img/icon-mail.svg");
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: 18px 14px;
}

.input--tel {
  background-image: url("../../source/img/icon-phone.svg");
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}
