.main-nav__toggle {
  padding: 0;
  position: absolute;
  top: 23px;
  right: 22px;
  display: block;
  font-size: 0;
  background-color: @bg-white;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;

  &--closed {
    width: 25px;
    height: 19px;
    background-image: url("../../source/img/icon-mobile-menu.svg");
  }

  &--opened {
    width: 19px;
    height: 19px;
    background-image: url("../../source/img/icon-close.svg");
  }
}

.main-nav__toggle--opened + .main-nav__list {
  display: block;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: none;
  .list-reset();
  background-color: @bg-white;
}

.main-nav__item {
  margin: 0;
  padding: 23px 10px 22px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  margin: 0;
  padding: 0;
  display: block;
  .font(20px, 500, 20px);
  color: @font-black;
  text-transform: uppercase;
}

@media (max-width: @mobile-width-only) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    min-width: 438px;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    padding: 12px 0 6px;
    border-bottom: none;

    &--active {
      border-bottom: 2px solid @green;
    }
  }

  .main-nav__item a[href] {
    &:hover {
      color: fade(@font-black, 60%);
    }

    &:focus {
      color: fade(@font-black, 30%);
    }
  }

  .main-nav__link {
    .font(18px, 400, 25px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    min-width: 478px;
  }

  .main-nav__item {
    padding: 17px 0 6px;
    z-index: 5;
  }

  .main-nav__item--main.main-nav__item--active {
    border-bottom: 2px solid #ffffff;
  }

  .main-nav__item--main a[href] {
    &:hover {
      color: fade(@font-white, 60%);
    }

    &:focus {
      color: fade(@font-white, 30%);
    }
  }

  .main-nav__link {
    font-size: 20px;

    &--main {
      color: @font-white;
    }
  }
}
