.page-footer {
  margin: 0;
  padding: 0;
  background-color: @bg-grey;
}

.page-footer__contacts {
  margin: 0;
  padding: 30px 20px 23px;

  &--main {
    background-color: @bg-white;
  }
}

.page-footer__logo {
  margin: 0 20px;
  padding: 39px 0 31px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social {
  margin: 0 20px;
  padding: 22px 0 21px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  margin: 0 20px;
  padding: 22px 0 22px;
}
