.section-caption {
  .font(24px, 400, 24px);
  color: @font-black;

  &--lined {
    padding-left: 20px;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin-top: 7px;
      margin-left: 22px;
      height: 3px;
      flex-grow: 1;
      flex-shrink: 0;
      background-color: @green;
    }
  }
}

.section-caption--long.section-caption--lined::after {
  margin-top: -16px;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .section-caption {
    .font(36px, 400, 36px);

    &--lined {
      padding-left: 0;

      &::before {
        content: "";
        margin-top: 10px;
        margin-right: 38px;
        width: 30px;
        height: 3px;
        flex-shrink: 0;
        background-color: @green;
      }

      &::after {
        content: "";
        margin-top: 10px;
        margin-left: 41px;
      }
    }
  }

  .section-caption__br {
    display: none;
  }

  .section-caption--long.section-caption--lined::after {
    margin-top: 10px;
    margin-left: 43px;
  }
}

@media (min-width: 1150px) {
  .section-caption {
    &--lined {
      &::before {
        width: 2.61%;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .section-caption {
    &--lined {
      &::before {
        width: 4.83%;
      }
    }
  }
}
