.social__list {
  margin: 0;
  padding: 0;
  .list-reset();
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin: 0;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
  padding: 0 13px 0 0;
}

.social__link {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0;
  line-height: 0;

  &:hover .social__icon {
    fill: #81c25a;
  }

  &:active .social__icon {
    fill: fade(#81c25a, 30%);
  }
}

.social__icon {
  fill: @font-grey;
}

@media (min-width: 321px) and (max-width: @mobile-width-only) {
  .social__list {
    justify-content: space-around;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-top: -5px;
  }

  .social__item {
    margin: 0 9px 0 0;
    padding: 0 0 0 19px;
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
